telegram_api_key = ""
coinbase_api_key = ""
coinbase_api_url = "https://www.coinbase.com/api/v2/"
coinbase_api_secret = ""
window = 60
data_duration = "hour"
currencies = {
    "btc": "BTC-EUR",
    "eth": "ETH-EUR",
    "ltc": "LTC-EUR"
}
interval = 3000
graph = False
graph_img = "./tmp.png"
